#container {
    position: relative;
    top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid black;
    height: 400px;
    width: 300px;
    background-color: #0060ff;
}

.rightSide {
    position: relative;
    float: right;
    top: 115px;
    border: 1px solid #b9b9b9;
    width: 50px;
    height: 270px;
    margin-right: 20px;
}

.functions {
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #df2030;
    color: white;
    font-size: 25px;
    text-align: left;
}

#enter {
    height: 80px;
}

b {
    position: relative;
    left: 5px;
}

body {
    font-family: monospace;
}